{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
                <th>S.NO</th>
                <th>Location Name</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ location.location_name }}</td>
                <td>{{ location.location_description|truncatechars:50 }}</td>
                <td>
                    {% if location.location_image %}
                        <img src="/media/{{ location.location_image }}" class="img-thumbnail" style="height: 100px;">
                    {% else %}
                        <span>No image available</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
